$color-black: #000;
$color-blackish: #202020;
$color-dark-grey: #3f3f3f;
$color-medium-grey: #707070;

$color-violet: #932191;
$color-medium-ruby: #ad3d6f;
$color-cedar-chest: #c7594b;

$color-orange: #ff9300;
$color-carrot-orange: #e17327;

$color-medium-white: #edf0f1;
$color-white: #fff;

// height

$nav-height: 7rem;
