$color-black: #000;
$color-blackish: #202020;
$color-dark-grey: #3f3f3f;
$color-medium-grey: #707070;
$color-orange: #fbab45;
$color-egg-yellow: #ffdf6c;
$color-medium-white: #edf0f1;
$color-white: #fff;
