* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
}

header h2 span {
    color: #f36100;

}

header nav {
    display: flex;
}

header nav li {
    margin: 0 15px;
    cursor: pointer;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

header nav li:hover {
    animation: blick_li .2s both;
}

@keyframes blick_li {
    25% {color: #fff;}
    50% {color: #f36100;}
    75% {color: #fff;}
    100% {color: #f36100;}
}

@media(max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media(max-width: 700px) {
    header {
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }

    header nav li {
        margin: 0 7px;
    }
}

/* baner area */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
    color: white;
}

@media(max-width: 1000px) {
    section {
        padding: 100px 50px;
    }
}

@media(max-width: 600px) {
    section {
        padding: 125px 30px;
    }
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

.banner-area {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: white;
    text-align: center;
}

.banner-area .banner-img {
    background-image: url(images/1.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-position: center center;
}

.banner-area .banner-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
}

.banner-area h1 {
    margin-bottom: 15px;
    font-size: 65px;
    text-transform: uppercase;
}

.banner-area h1 span {
    color: #f36100;
}

.banner-area h3 {
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
}

.banner-area a.banner-btn {
    position: relative;
    padding: 15px 35px;
    background-color: #f36100;
    text-transform: uppercase;
    overflow: hidden;
}

a.banner-btn div {
    position: absolute;
    left: -55px;
    width: 32%;
    height: 3px;
    background-color: #fff;
    transition: .5s;
}

a.banner-btn:hover {
    animation: blick .2s;
}

a.banner-btn:hover div {
    left: 105px;
}

@keyframes blick {
    25% {background-color: #fff;}
    50% {background-color: #f36100;}
    75% {background-color: #fff;}
}



@media (max-width: 800px) {
    .banner-area {
        min-height: 600px;
    }

    .banner-area h1 {
        font-size: 27px;
    }

    .baner-area h3 {
        font-size: 20px;
    }

    .baner-area a.banner-btn {
        padding: 8px 20px;
    }
}

/* about */

#about {
    background: #0a0a0a;
}

ul.about-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-content li {
    padding: 20px;
    height: 290px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.about-left {
    flex-basis: 40%;
    background-image: url(images/2.jpg);
}

.about-right {
    flex-basis: 60%;
}

.about-area p {
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
}

.section-title {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}

section-title span {
    color: #f36100;
}

.about-right h2 {
    margin-bottom: 3%;
}

@media (max-width: 1000px) {
    .section-title {
        font-size: 35 px;
    }

    .about-left,
    .about-right {
        flex-basis: 100%;
    }

    .about-content li {
        padding: 8px;
    }
}

/* services */

#services {
    background: #151515;
}

ul.services-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-content li {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    flex-basis: 33%;
    align-items: center;
}

/* to do zrobienia za pomocą flexboxa */

.services-content div {
    box-sizing: content-box;
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-size: cover;
    border: 5px solid #f36100;
}

.services-content div.img3 {
    background-image: url(/images/3.jpg);
}
.services-content div.img4 {
    background-image: url(/images/4.jpg);    
}

.services-content div.img5 {
    background-image: url(/images/5.jpg);    
}

.services-content li h4 {
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

.services-content li p {
    margin: 0;
}

@media (max-width: 1000px) {
    .services-content li {
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .services-content li:last-child {
        margin-bottom: 0;
    }

    .services-content li p {
        padding: 0;
    }
}

/* contact */

#contact {
    background: #0a0a0a;
}

ul.contact-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-content li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.contact-content li i {
    font-size: 50px;
    color: #f36100;
    margin-bottom: 25px;
}

.contact-content li p {
    margin: 0;
}

@media (max-width: 1000px) {
    .contact-content li {
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .contact-content li:last-child {
        margin-bottom: 0;
    }

    .contact-content li p {
        padding: 0;
    }
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #000;
    padding: 60px 0;
}