@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
/* font-family: "Montserrat", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
/* font-family: 'Montserrat', sans-serif; */

/* Blackish: #202020

Dark Grey: #3F3F3F

Medium Grey: #707070

Egg Yellow: #ffdf6c

White: #edf0f1 */

/* navigation */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* background-color: #202020; */
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 0 30px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #202020;
}

.logo,
li,
a {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
}

.nav__wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  background-color: #202020;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.logo {
  margin-left: 20px;
  color: #ffdf6c;
  font-size: 32px;
  cursor: pointer;
}

.logo span {
  color: #edf0f1;
  font-weight: bold;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ffdf6c;
}

/* home section */

.home {
  height: calc(100vh - 59px);
  background-image: url(/projekt/images/img1.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
}

.main {
  width: 100%;
  height: 1800px;
  background-color: #edf0f1;
}

.text-box {
  position: absolute;
  top: 150px;
  left: 100px;
}

.heading {
  text-transform: uppercase;
}

.heading-main {
  background-color: #ffdf6c;
  display: block;
  letter-spacing: 24px;
  font-size: 32px;
  animation-name: moveInRight;
  animation-duration: 2s;
}

.heading-sub {
  margin-top: 40px;
  display: block;
  font-weight: 500;
  letter-spacing: 2px;
  animation-name: moveInLeft;
  animation-duration: 2s;
}

.btn {
  display: inline-block;
  border-radius: 70px;
  padding: 25px 40px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0 0 25px black;
  transition: all 0.1s;
}

.btn-yellow {
  background-color: #ffdf6c;
  color: #3f3f3f;
}

.home .btn {
  position: absolute;
  top: 80vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.btn:hover {
  box-shadow: 0 0 3px #ffdf6c, 0 0 6px white, 0 0 12px #ffdf6c, 0 0 25px #ffdf6c;
}

.btn:active {
  transform: translate(-50%, -50%) translateY(2px);
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  30% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    /* translate(0) - this is the start position */
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  30% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    /* translate(0) - this is the start position */
    transform: translate(0);
  }
}
