@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif; }

.heading-primary {
  position: relative;
  color: #edf0f1; }
  .heading-primary--main {
    position: absolute;
    top: 30rem;
    left: 10rem;
    width: 40rem;
    height: 5rem;
    background-image: linear-gradient(to right bottom, rgba(147, 33, 145, 0.85), rgba(173, 61, 111, 0.85)); }
  .heading-primary--sub {
    position: absolute;
    display: block;
    top: 40rem;
    left: 10rem;
    width: 50rem;
    height: 7rem;
    line-height: 7rem;
    text-align: center;
    background-image: linear-gradient(to right bottom, rgba(147, 33, 145, 0.85), rgba(173, 61, 111, 0.85));
    transform: skew(-10deg); }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  position: relative;
  top: 3rem;
  padding: 0 15rem 0 15rem;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 2rem;
  color: white;
  z-index: 1; }
  .navigation__logo {
    font-size: 3.5rem;
    color: #edf0f1; }
    .navigation__logo span {
      color: #ff9300;
      font-weight: bold; }
  .navigation__list {
    display: flex;
    list-style: none; }
  .navigation__item:not(:last-child) {
    margin-right: 5rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #edf0f1;
    transition: all 0.2s; }
  .navigation__link:hover, .navigation__link:active {
    color: #ff9300;
    background-color: rgba(255, 147, 0, 0.03);
    box-shadow: 0 0 1.5rem rgba(255, 147, 0, 0.05); }

.header {
  height: 100vh;
  position: relative;
  top: -7rem;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.01), rgba(32, 32, 32, 0.1)), url(/images/img1.jpg);
  background-size: cover;
  background-position: center; }
