@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* font-family: 'Roboto', sans-serif; */

/* Blackish: #202020

Dark Grey: #3F3F3F

Medium Grey: #707070

Egg Yellow: #ffdf6c

White: #FFFFFF */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

header {
  display: flex;
  position: fixed;
  height: 70px;
  left: 0;
  right: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #202020;
  box-shadow: 3px 0 30px 5px #202020;
  z-index: 1;
}

.logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  color: #ffdf6c;
}

li {
  list-style: none;
}

.menu li a {
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
  color: #ececea;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  transition: 0.3s;
}

.menu li a:hover {
  color: #ffdf6c;
}

main .home {
  height: 100vh;
  background-image: url("/images/nathan-riley-9q3I8XhesQI-unsplash.jpg");
  background-position: top;
  background-size: cover;
  box-shadow: 3px 0 30px 5px #050a0d;
}

.home .text {
  position: absolute;
  bottom: 300px;
  left: 200px;
  color: black;
}

.text div:nth-child(1),
.text div:nth-child(2) {
  position: absolute;
  padding: 10px 40px;
  text-align: center;
  font-size: 26px;
  background-color: rgba(98, 111, 130, 0.7);
}

.text div:nth-child(1) {
  top: -60px;
  left: -120px;
  width: 500px;
}

.text div:nth-child(2) {
  left: 0;
  width: 650px;
}

.text .btn {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 260px;
  height: 50px;
  padding: 0 20px;
  text-align: center;
  line-height: 50px;
  background-color: rgba(67, 75, 86, 0.3);
  border: 3px solid white;
  cursor: pointer;
  color: white;
  font-size: 26px;
  font-weight: 900;
  transition: 0.3s;
}

.text .btn:hover {
  background-color: white;
  color: #434b56;
}

.about {
  height: 50vh;
  position: relative;
}

.about .wrap {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 800px;
}

.about h1 {
  position: absolute;
  right: 20px;
  font-size: 40px;
}

.wrap h1 div {
  position: relative;
  width: 100px;
  top: 0;
  left: -20px;
  height: 3px;
  background-color: black;
}

.about p {
  position: absolute;
  top: 90px;
  font-size: 20px;
  letter-spacing: 2px;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects h1 {
  position: relative;
  font-size: 40px;
  margin: 100px 0 100px 50px;
}
.header h1 div {
  position: absolute;
  left: -20px;
  width: 100px;
  height: 3px;
  background-color: black;
}

.projects .gallery {
  display: flex;
  width: 75vw;
  margin: 0 auto;
  flex-wrap: wrap;
}

.gallery .photo {
  width: 25vw;
  height: 25vw;
  border: 1px solid black;
  cursor: pointer;
}

.photo div {
  width: 25vw;
  height: 0;
  background-color: #434b56;
  opacity: 0.6;
  transition: 0.5s;
  z-index: 1;
}

footer {
  height: 100px;
  width: 100%;
  background-color: black;
  box-shadow: 3px 0 30px 5px #202020;
}
